#wPop{position:absolute;z-index:999996;left:0px;top:0px;}
.wWin{position:absolute;z-index:999999;background:#fff;width:500px;height:500px;border:none;padding:0;cursor: pointer;overflow:hidden;display:none;}
.lbg{background:url(../images/imgBox/loading_img_s.gif) center center no-repeat;}
a.lbgs{background:url(../images/imgBox/loading_img_s.gif) center center no-repeat;padding:1px;}
a.lbgs:hover{border:1px solid #ddd;padding:0px;}
.wList{position:absolute;z-index:999999;background:#fff;width:500px;height:0px;border:none;padding:0;overflow:hidden;text-align:left;}
.wBg{position:absolute;left:0px;top:0px;z-index:999997;width:0px;height:0px;background:url(../images/imgBox/alpha.gif);}
.wBg2{position:absolute;left:0px;top:0px;z-index:999997;width:0px;height:0px;background:#333;filter: Alpha(opacity=20);-moz-opacity:0.20;opacity:0.20;display:none;}
.wBp{position:absolute;z-index:999998;overflow:hidden;margin:0 auto;width:520px;height:520px;}
.wBp b{display:block;float:left;}
.wBp b.o1,.wBp b.o6{width:500px;height:20px;}
.wBp b.o2,.wBp b.o7{width:20px;height:20px;}
.wBp b.o3,.wBp b.o4,.wBp b.o5{width:20px;height:480px;}
.wBp b.o4{width:480px;background:#fff;}
.wBp b.o1{background:url(../images/imgBox/wb1.png) no-repeat;}
.wBp b.o2{background:url(../images/imgBox/wb2.png) no-repeat;}
.wBp b.o3{background:url(../images/imgBox/wb3.png) no-repeat;}
.wBp b.o5{background:url(../images/imgBox/wb4.png) no-repeat;}
.wBp b.o6{background:url(../images/imgBox/wb5.png) no-repeat;}
.wBp b.o7{background:url(../images/imgBox/wb6.png) no-repeat;}
*html .wBp b.o1 {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="includes/templates/chanelwatches/images/imgBox/wb1.png"); background:none;}
*html .wBp b.o2 {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="includes/templates/chanelwatches/images/imgBox/wb2.png"); background:none;}
*html .wBp b.o3 {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="includes/templates/chanelwatches/images/imgBox/wb3.png"); background:none;}
*html .wBp b.o5 {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="includes/templates/chanelwatches/images/imgBox/wb4.png"); background:none;}
*html .wBp b.o6 {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="includes/templates/chanelwatches/images/imgBox/wb5.png"); background:none;}
*html .wBp b.o7 {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="includes/templates/chanelwatches/images/imgBox/wb6.png"); background:none;}
.product_list_li,.wWin_li {display:black;width:265px;height:44px;position:relative;padding:0 35px;}
.product_list_li ul,wWin_li ul{display:black;left:0px;top:0px;width:10000px;}
.product_list_li ul li,.wWin_li ul li{float:left;width:44px;height:44px;padding-left:10px;cursor: pointer;}
.product_list_li_l,.wWin_li_l{width:30px;height:44px;left:2px;top:0px;position:absolute;background:url(../images/imgBox/next_l.gif) center center no-repeat #fff;cursor: pointer;}
.product_list_li_r,.wWin_li_r{width:30px;height:44px;left:305px;top:0px;;position:absolute;background:url(../images/imgBox/next_r.gif) center center no-repeat #fff;cursor: pointer;}
.product_list_li_c,.wWin_li_c{width:270px;height:44px;left:30px;top:0px;position:absolute;overflow:hidden;}
.product_list_li_c ul,.wWin_li_c ul{top:0px;position:absolute;left:0px;}
.wWin_li {width:400px;}
.wWin img{padding:0;margin:0;}
.wWin_li ul li {padding-left:16px;}
.wWin_li_l {left:5px;top:1px;}
.wWin_li_r {left:465px;top:1px;}
.wWin_li_c {width:440px;left:32px;top:1px;}
.li_img01,.li_img02{border: 1px solid rgb(245, 167, 154); background-color: rgb(255, 255, 255);height:42px;width:42px;}
.li_img02{border: 1px solid rgb(238, 238, 238); }
.winclose{width:13px;height:13px;position:absolute;background:url(../images/imgBox/close.gif) no-repeat ;z-index:1099001;overflow:hidden;cursor: pointer;}
.pr210{padding-left:210px;}

/* zoom */
.zoom_list_l{width:20px;height:44px;left:2px;top:0px;position:absolute;background:url(../images/imgBox/next_l.gif) left center no-repeat #fff;cursor: pointer;}
.zoom_list_r{width:20px;height:44px;left:360px;top:0px;;position:absolute;background:url(../images/imgBox/next_r.gif) center center no-repeat #fff;cursor: pointer;}
.zoom_list_c{width:325px;height:44px;left:25px;top:0px;position:absolute;overflow:hidden;}
.zoom_list_c ul{top:0px;position:absolute;left:0px;}

#wrapper{width : 970px;padding: 0px;margin:  0 auto;text-align: left;}
.jqzoom{border:1px solid black;position:relative;padding:0px;z-index:900;width:51px;height:51px;left:320px;top:440px;}
.jqzoom img{width:50px;height:50px;}
.jqzoomon{width:52px;height:52px;z-index:999;position:absolute;top:-1px;left:-1px;background:url(images/bg/tran.gif);}
.jqZoomPup {z-index:1000;visibility:hidden;position:absolute;top:0px;left:0px;cursor:pointer;width:18px;overflow:hidden;height:25px;border:1px solid #ff0000;background:url(tran.gif) 50% top  no-repeat;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}
.zoomdiv,.zoommaxout {position:absolute;top:0px;left:0px;width:380px;height:500px;border:none;text-align: center;overflow: hidden;}
.zoomdiv {z-index:100;}
.zoommaxout{z-index:201;}
.zoommax{position:relative;visibility:visible;}
.zoommax img{position:absolute;}
.bigimgdiv{visibility:visible;z-index:899;overflow:hidden;position:absolute;left:0;top:0;height:500px;width:380px;background:url(images/bg/tran.gif) 50% top  no-repeat #000;opacity: 0;-moz-opacity: 0;-khtml-opacity: 0;filter: alpha(Opacity=0);}
.zoomico{visibility:hidden;width:82px;height:20px;overflow:hidden;position:absolute;left:10px;top:470px;background:url(images/zoom/zoomact.gif) no-repeat;z-index:900;}
.zoomico a{display:black;float:left;height:20px;}
.zoomico a.icoadd{width:20px;margin-right:2px;}
.zoomico a.icominus{width:20px;margin-right:2px;}
.zoomico a.reset{width:38px;}
.bigimg{visibility:hidden;}
.zoomload{position:absolute;left:20px;top:10px;z-index:301;height:30px;width:100px;color:#fff;font-size:15px;background:url(images/zoom/load.gif) no-repeat;}
.zoominitload{z-index:1001;text-align:center;padding-top:240px;position:absolute;top:0px;left:0px;height:260px;width:380px;font-size:15px;background:url(images/zoom/load.gif) no-repeat;}
