@charset "utf-8";
/* CSS Document*/
/*define menu*/
.menu {background:#8E0314;}
.menu ul li {border-top:1px solid #A6A6A6;background:#F5F5F5 url(../images/theme-1/menu_arrow_bg.gif) no-repeat -1px -100px;}

.menu ul ul .b_top {border-top:1px solid #A6A6A6;border-right:2px solid #A6A6A6;}
.menu a, .menu a:visited {color:#000; }
.menu ul ul li a, .menu ul ul li a:visited {color:#000;}
.menu ul ul li a:hover {color:#8D0011;}
.menu ul ul :hover > a {color:#8D0011;}

* html .menu a:hover {color:#000;background:#fff url(../images/theme-1/menu_arrow_bg.gif) no-repeat -1px -130px;}
.menu :hover > a {color:#000;background:#fff url(../images/theme-1/menu_arrow_bg.gif) no-repeat -1px -130px;}
.menu ul ul {background:url(../images/theme-1/menu_arrow_bg.gif) no-repeat left bottom;}

.new {
	background:url(../images/theme-1/new.gif) no-repeat right center;
}
/*btns*/
button {
	background:url(../images/theme-1/button.gif) repeat-x;
}
button:hover, button:active {
	background:url(../images/theme-1/button_over.gif) repeat-x;
}
#menu_index_top li a:link, #menu_index_top li a:visited {
	background:url(../images/theme-1/menu_top.gif) no-repeat;
	color:#fff;
	font-size:15px;
	width:184px;
	height:38px;
	display:block;
	color:#fff;
	margin-top:6px;
	font-weight:bold;
	text-indent:1em;
	line-height:38px;
}/*#8E0314 */
.cate_title {
	background:#8e0011 url(../images/theme-1/cate_title.gif) no-repeat 2px 0;
}
.blue_con {
	border:1px solid #ddd;
}
.blue_con h3 {
	background:url(../images/theme-1/blue_head_bg.gif) repeat-x;
}
.blue_con h4 {
	background:#E1F1F6 url(../images/theme-1/blue_head_bg.gif) repeat-x;
}
.bg_letter {
	background:url(../images/theme-1/bg_letter.gif) no-repeat;
}
.search_bar {
	background:#8E0314;
}
.use_nav_bg {
	background:url(../images/theme-1/search_bar_l.gif) right top no-repeat;
}
.use_nav_bg b {
	background:url(../images/theme-1/search_bar_l.gif) no-repeat;
}
a.btn_search {
	background:url(../images/theme-1/btn_go.gif) 0 0 no-repeat;
}
a.btn_search:hover {
	background:url(../images/theme-1/btn_go.gif) 0 -22px no-repeat;
}
#shoping_con li a:link, #shoping_con li a:visited {
	background:url(../images/theme-1/search_bar_r.gif) 0 -32px no-repeat;
	color:#fff;
}
#shoping_con li, #search_con li {
	color:#fff;
}
#shoping_con li a span {
	background:url(../images/icon_car.gif) no-repeat center left;
}
.index_layer .off {
	background:url(../images/theme-1/index_swich_bg.gif) repeat-x;
	border-bottom:1px solid #ddd;
	color:#000;
}
.index_layer .on {
	background:none;
	color:#A72D2C;
}
#border_left {
	border-left:1px solid #ddd;
}
.more_product, a.more_product:link, a.more_product:visited {
	color:#184C95;
}
.border_r_dash {
	background:url(../images/theme-1/border_dash.gif) right top repeat-y;
}
a.icon_inquiry {
	background:url(../images/theme-1/btn_inquiy.gif) no-repeat;
}
/* list html */

.list_title a {
	background:#eee;
	color:#A72D2C;
}
/*.list_product {
	background:url(../images/theme-1/line.gif) no-repeat bottom center;
}
#list_bg_img li {
	background:url(../images/theme-1/line.gif) no-repeat left bottom;
}
#list_bg_big_img li {
	background:url(../images/theme-1/line.gif) no-repeat left bottom;
}*/
.car_price {
	color:#bf0000;
	background:url(../images/theme-1/car_price.gif) no-repeat right top;
}
/*the stats of the product*/
.product_count {
	background:url(../images/theme-1/count.gif) no-repeat;
	color:#fff;
}
.free_shipping {
	background:url(../images/theme-1/free_s.gif) no-repeat;
}
.bulksale_free_shipping {
	background:url(../images/theme-1/bulksale.gif) no-repeat;
}
.sale_item {
	background:url(../images/theme-1/sale_item.gif) no-repeat;
}
.sold_out {
	background:url(../images/theme-1/sold_out.gif) no-repeat;
}
.almost_sold_out {
	background:url(../images/theme-1/almost_sold.gif) no-repeat;
}
.star {
	background:url(../images/theme-1/star01.gif) no-repeat left bottom;
}
.star_gray {
	background:url(../images/theme-1/star02.gif) no-repeat left bottom;
}
/*the stats small icon s*/
.product_count_s {
	background:url(../images/theme-1/count_s.gif) no-repeat;
	color:#fff;
}
.sale_item_s {
	background:url(../images/theme-1/sale_item_s.gif) no-repeat;
}
.sold_out_s {
	background:url(../images/theme-1/sold_out_s.gif) no-repeat;
}
.almost_sold_out_s {
	background:url(../images/theme-1/almost_sold_s.gif) no-repeat;
}
.product_count_b {
	background:url(../images/theme-1/count.gif) no-repeat;
	color:#fff;
}
.sale_item_b {
	background:url(../images/theme-1/sale_item.gif) no-repeat;
}
.sold_out_b {
	background:transparent url(../images/theme-1/sold_out_b.gif) no-repeat scroll 0%;
}
.almost_sold_out_b {
	background:url(../images/theme-1/almost_sold.gif) no-repeat;
}
/*the pagebar*/
.pagebar a span {
	border:1px solid #ddd;
	background-color:#fff;
	text-align:center;
	font-weight:normal;
	cursor:pointer;
	padding:2px 10px;
	line-height:28px;
	margin:0;
}
.first_page {
	background:url(../images/theme-1/first.gif) no-repeat center center;
}
.last_page {
	background:url(../images/theme-1/last.gif) no-repeat center center;
}
.next_page {
	background:url(../images/theme-1/next.gif) no-repeat right center;
}
.prev_page {
	background:url(../images/theme-1/prev.gif) no-repeat left center;
}
.pages span {
	border:1px solid #ddd;
}
.pages span.current {
	border:1px solid #ff6c00;
	background:#ffffe1;
}
/*the list bar*/
.list_bar .category {
	background:url(../images/theme-1/trangle.gif) 7px center no-repeat;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
/*.list_bar .category a {text-decoration:underline;line-height:22px;}*/
.list_bar .category_ {
	background:url(../images/theme-1/trangle2.gif) no-repeat;
	border-right:1px solid #ddd;
}
a .list_list, a .list_grid, a .list_gallery {
	background-position:0 -23px;
}
.list_list {
	background:url(../images/theme-1/list_list.gif) no-repeat;
}
.list_grid {
	background:url(../images/theme-1/list_grid.gif) no-repeat;
}
.list_gallery {
	background:url(../images/theme-1/list_gallery.gif) no-repeat;
}
a .list_grid:hover, a .list_list:hover, a .list_gallery:hover {
	color:#A72D2C;
}
#search_feedback {
	background:url(../images/theme-1/search_cate.gif) repeat-x;
}
.recent_flash_prev {
	background:url(../images/theme-1/prev_l.gif) no-repeat;
}
.recent_flash_next {
	background:url(../images/theme-1/next_l.gif) no-repeat;
}
#category_menu li a:link, #category_menu li a:visited {
	background:url(../images/theme-1/list_ca_l.gif) 3px 6px no-repeat;
}
#category_menu li a:hover {
	background:#f0f0f0 url(../images/theme-1/list_ca_l.gif) 3px 6px no-repeat;
}
.table {
	background-color: rgb(102, 102, 102);
	margin-right: 5px;
}
.coupon_icon_cut {
	background:url(../images/theme-1/icon_cut.gif) no-repeat 0 260px;
}
/*the product*/
.p_f_en {
	background:url(../images/theme-1/btn_enlarge.gif) no-repeat;
}
#product_flash_btn img {
	border:1px solid #eee;
}
.for_gray_bg {
	background:url(../images/theme-1/right_gray_bg.gif) repeat-y right top;
}
.seal_m_en {
	background:url(../images/theme-1/seal_m_en.gif) no-repeat;
}
.png {
	background:url(../images/theme-1/pop_win_bg.png) no-repeat;
}
.pad_product {
	background:url(../images/theme-1/bg.gif) repeat-x;
}
#table_info {
	border:1px solid #ddd;
	border-width:0 0 1px 1px;
}
#table_info th {
	background:#ececec;
}
#table_info th, #table_info td {
	border:1px solid #ddd;
	border-width:1px 1px 0 0;
}
#table_info_l {
	border:1px solid #ddd;
	border-width:0 0 1px 1px;
}
#table_info_l th {
	background:#ececec;
}
#table_info_l th, #table_info_l td {
	border:1px solid #ddd;
	border-width:1px 1px 0 0;
}
#ZoomBox {
	background:#eee url(../images/theme-1/pop_bg1.gif) repeat-y right top;
}
#smallImgBtns {
	background:#fff url(../images/theme-1/pop_bg2.gif) no-repeat 0 100%;
}
.inquiry {
	background:url(../images/theme-1/bag.gif) no-repeat 20px 30px;
}
#Item_Description_Spc h3 {
	color:#BF0000;
}
#Item_Description_Spc ul li {
	background:transparent url(../images/theme-1/icon_arr.gif) no-repeat 0px 6px;
}
#testimonials dl {
	background-color:#ebe9df;
}
#chat_div {
	background:#fff url(../images/theme-1/chat_div_bg.gif) no-repeat 0 100%;
	border:1px solid #ddd;
	border-width:0 1px;
}
.lay_hot {
	background:transparent url(../images/theme-1/hot.gif) no-repeat scroll 0%;
}
#recent_flash_small .allborder {
	border:1px solid #F5A79A;
}
.cname {
	color:#333;
}
.pagebar a span:hover {
	color:#A72D2C;
}
.review_reply em, .review_reply b {
	background:url(../images/theme-1/reply_bg.gif) no-repeat;
}
.check_box_tit {
	background:url(../images/theme-1/bg_title.gif) repeat-x;
}
.select3 {
	border:1px solid #ddd;
}
.input3 {
	border:1px solid #ddd;
}
.input_box {
	background:url(../images/theme-1/bg_input.gif) no-repeat;
}
.bill_bot_img {
	background:url(../images/theme-1/icon_clock.gif) no-repeat;
}
/*=========================my count==============================*/
.write_btn {
	background:url(../images/theme-1/icon_write.gif) no-repeat;
}
.table_orders td {
	border-bottom:1px solid #eee;
}
.status_btn {
	background:url(../images/theme-1/icon_th.gif) no-repeat right -18px;
}
.order_layer .off, .nl_layer .off {
	background-color:#f7f6f2;
	border-bottom:1px solid #ddd;
	color:#000;
}
.order_layer .on, .nl_layer .on {
	background:#fff;
	color:#A72D2C;
}
.paypal_warn {
	background:url(../images/theme-1/warn_icon.gif) no-repeat;
}
/*==============================help===============================*/
#help_nav {
	border-top:1px solid #ddd;
}
#help_nav .active {
	background:url(../images/theme-1/bg_arrow_off.gif) no-repeat center bottom;
}
#help_nav .active span {
	background:#fff;
}
#help_nav .active a:hover {
	background:url(../images/theme-1/bg_arrow_off.gif) no-repeat center bottom;
}
#help_nav .active a:hover span {
	background:#e6e5e1;
}
#help_nav .normal {
	background:url(../images/theme-1/bg_arrow_on.gif) no-repeat center bottom;
}
#help_nav .normal span {
	background:url(../images/theme-1/help_switch_bg.gif) repeat-x;
}
.ico1 {
	background:url(../images/theme-1/icon_customer.gif) no-repeat;
}
.ico2 {
	background:url(../images/theme-1/icon_inquiry.gif) no-repeat;
}
.ico3 {
	background:url(../images/theme-1/icon_chat.gif) no-repeat;
}
/*A_Z*/

.static_h1 {
	color:#000;
}
.border_b_d {
	background:transparent url(../images/theme-1/line_bbb.gif) repeat-x scroll 0pt 100%;
}
.static_tit {
	background:transparent url(../images/theme-1/line_bbb.gif) repeat-x scroll 0pt 100%;
}
#t_p ul li a.one {
	background:url(../images/theme-1/tabs_price.gif) no-repeat;
}
#t_p ul li div {
	background:#fff;
}
#t_p ul li a div, #t_p ul li div {
	border:1px solid #ddd;
	border-top:none;
}
#t_p ul li:hover > a.one {
	background:url(../images/theme-1/tabs_price.gif) 100% -28px no-repeat;
}
* html #t_p ul li a.one:hover {
	color:#000;
	background:url(../images/theme-1/tabs_price.gif) 100% -28px no-repeat;
	color:#A72D2C;
}
/*----------------------------------------------------------------------------------------------------------------------/
 * CSS Buttons Stylesheet
 *
 */
.cssButton, .cssButtonHover {
	background:url(../images/theme-1/button.gif) repeat-x;
	border:1px solid #ddd;
}
.cssButtonHover {
	background:url(../images/theme-1/button_over.gif) repeat-x;
	color:#333;
}
/* adding the styles below might be needed if the default button width is changed */
/* .button_continue_shopping, .button_shipping_estimator {width: 150px;} */
.button_return_to_product_list, .button_add_selected {
}
.button_in_cart {
}
.button_submit {
}
.button_update_cart {
	color: red;
}
.button_update_cartHover {
	color: black;
}

/*.innerbox#headernavcenter .boxtext .button_search {display:inline;}*/
.button_login {
	background:url(../images/theme-1/button_login.gif) no-repeat;
	border:0 none;
	text-indent:-9999px;
	font-size:0;
	line-height:0;
	cursor:pointer;
}
.button_create_account {
	background:url(../images/theme-1/button_new_account.gif) no-repeat;
	display:block;
	width:179px;
	height:26px;
	border:0 none;
	line-height:0;
	text-indent:-9999px;
	font-size:0;
	cursor:pointer;
}
.button_continue_checkout {
	background:url(../images/theme-1/btn_cheakout.gif) no-repeat;
	display:block;
	width:184px;
	height:27px;
	border:0 none;
	line-height:0;
	text-indent:-9999px;
	font-size:0;
	margin-top:5px;
	float:right;
}
.small_edit {
	background:url(../images/theme-1/btn_edit.gif) no-repeat;
	display:block;
	width:53px;
	height:17px;
	border:0 none;
	line-height:0;
	text-indent:-9999px;
	font-size:0;
	margin-top:3px;
}
.button_confirm_order {
	background:url(../images/theme-1/btn_confirm.gif) no-repeat;
	display:block;
	width:157px;
	height:27px;
	border:0 none;
	line-height:0;
	text-indent:-9999px;
	font-size:0;
	margin-top:5px;
	float:right;
}
.buttonAddCart {
	background:url(../images/car.gif) no-repeat;
}
.buttonCheakout {
	background:url(../images/btn_cheakout.gif) no-repeat;
}
.button_place_order{
	display:block; width:162px; height:27px; border:0 none; line-height:0; text-indent:-9999px;
	font-size:0; margin:5px auto 0;background:url(../images/btn_place.gif) no-repeat;
}
/*links*/
a:link, a:visited {
	color:#000;
	text-decoration:none
}
a:hover {
	text-decoration:underline;
	color:#A72D2C;
}
/*borders*/
.allborder {
	border:1px solid #ddd;
}
.border_r {
	border-right:1px solid #ddd;
}
.no_border_t {
	border-top:none;
}
/*li*/
.red_arrow_list li {
	background:transparent url(../images/theme-1/red_arrow_bg.gif) left 7px no-repeat;
	padding:3px 10px;
	line-height:140%;
}
.gray_trangle_list li {
	background:url(../images/theme-1/list_ca_l.gif) left 9px no-repeat;
	padding:3px 10px;
	line-height:140%;
}
.dl_dot dt {
	background:url(../images/theme-1/icon_arr.gif) no-repeat 2px center;
	padding-left:10px;
}
#changeThemes {
	color:#8e0314;
}
#trustful {
	background:url(../images/theme-1/trustful.jpg) no-repeat center;
}
